Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
pyotp
qrcode
Pillow
python-dotenv
cryptography
google-generativeai
cryptography
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
google-generativeai
Pillow
pyotp
python-dotenv
qrcode